@import 'styles';

.button {
  border: none;
  border-radius: map-get($border, radius);
  padding: map-get($spacing, 16);
  font-size: map-get($font-size, 16);
  text-transform: uppercase;
  margin-bottom: map-get($spacing, 16);
  width: 100%;
  font-family: $font-stack;
  background: map-get($color, pink-1);
  color: map-get($font-color, white);
  cursor: pointer;
  outline: none;
  font-weight: 700;
}
