@import 'styles';

.recipes-list-item {
  display: block;
  padding: map-get($spacing, 16);

  &--active {
    // background: map-get($color, blue-2);
    // color: map-get($font-color, white);
    font-weight: 700;
    // border-radius: map-get($border, radius);
  }
}
