<header class="header">
  <nav class="header__container">
    <a class="header__link header__logo"
      routerLink="/"
      >
      <img class="header__logo-img"
        src="assets/logo.svg"
        alt="Things That Work logo"
      />
    </a>
    <a class="header__link"
      routerLink="/recipes"
      routerLinkActive="header__link--active"
      >
      Recipes
    </a>
    <a class="header__link"
      routerLink="/kitchen"
      routerLinkActive="header__link--active"
      >
      Kitchen
    </a>
    <a class="header__link"
      routerLink="/shopping-list"
      routerLinkActive="header__link--active"
      >
      Shopping List
    </a>
  </nav>
</header>
