<main class="recipe-details">
  <h1 class="recipe-details__name">
    {{recipe.name}}
  </h1>
  <p class="recipe-details__description"
    *ngIf="recipe.description"
    >
    {{recipe.description}}
  </p>
  <h2 class="recipe-details__header">
    Ingredients
  </h2>
  <div class="recipe-details__section">
    <ul class="recipe-details__list">
      <li class="recipe-details__list-item"
        *ngFor="let ingredient of recipe.ingredients"
        >
        {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
      </li>
    </ul>
  </div>
  <h2 class="recipe-details__header">
    Instructions
  </h2>
  <div class="recipe-details__section"
    *ngFor="let process of recipe.instructions"
    >
    <h3 class="recipe-details__process-title"
      *ngIf="process.title"
      >
      {{process.title}}
    </h3>
    <ul class="recipe-details__list">
      <li class="recipe-details__list-item"
        *ngFor="let step of process.steps; let i = index"
        >
        {{i + 1}}. {{step}}
      </li>
    </ul>
  </div>
</main>
