@import 'typography';
@import 'colors';
@import 'layout';
@import 'mixins';

html {
  box-sizing: border-box;
  font-size: map-get($font-size, 20);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
  color: map-get($font-color, dark);
  background: map-get($color, blue-3);
  font-family: $font-stack;
	font-weight: map-get($font-weight, normal);
  line-height: map-get($line-height, 1.5);
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: map-get($font-color, dark);
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"] {
  width: 100%;
  padding: map-get($spacing, 16);
  border: none;
  border-radius: map-get($border, radius);
  outline: none;
  font-family: $font-stack;
  font-size: map-get($font-size, 20);
}
